#color1 {
    background-color: #9e1b32;
    width: 100%;
    height: 300px;
    margin: 10px auto;
}

#color2 {
    background-color: #cc0033;
    width: 100%;
    height: 300px;
    margin: 10px auto;
}

#color3 {
    background-color: #8c1d40;
    width: 100%;
    height: 300px;
    margin: 10px auto;
}

#color4 {
    background-color: #9D2235;
    width: 100%;
    height: 300px;
    margin: 10px auto;
}

#color5 {
    background-color: #e87722;
    width: 100%;
    height: 300px;
    margin: 10px auto;
}

#color6 {
    background-color: #9e1b32;
    width: 100%;
    height: 300px;
    margin: 10px auto;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    text-align: center;
    color: white;
}

h1 {
    color: black;
}

h5 {
    color: white;
    display: block;
}
